<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application" title="msg://dev.buhanzaz.wmspanel/menu.application.title" opened="true">
        <item view="User.list" title="msg://dev.buhanzaz.wmspanel.view.user/UserListView.title"/>
        <menu id="warehouse" title="msg://dev.buhanzaz.wmspanel/menu.warehouse.title" opened="true">
            <item view="RentalItem.list" title="msg://dev.buhanzaz.wmspanel.view.rentalitem/RentalItemListView.title"/>
            <item view="QueueWorkBoard.view" title="msg://dev.buhanzaz.wmspanel.view.queueworkboard/QueueWorkBoardView.title"/>
            <item view="KpiAndRework.view" title="msg://dev.buhanzaz.wmspanel.view.kpiandrework/KpiAndReworkView.title"/>
            <item view="AccessoryStockBalance.list" title="msg://dev.buhanzaz.wmspanel.menu.accessoryStockBalance.title"/>
            <item view="WarehouseAiSearch.view" title="msg://dev.buhanzaz.wmspanel.view.warehouseai/WarehouseAiSearchView.title"/>
            <item view="Reservation.search" title="msg://dev.buhanzaz.wmspanel.view.reservation/ReservationSearchView.title"/>
            <item view="Reservation.list" title="msg://dev.buhanzaz.wmspanel.view.reservation/ReservationListView.title"/>
            <item view="RepairEstimate.view" title="msg://dev.buhanzaz.wmspanel.view.repairestimate/RepairEstimateView.title"/>
            <item view="AfterRepair.view" title="msg://dev.buhanzaz.wmspanel.view.afterrepair/AfterRepairView.title"/>
        </menu>
        <menu id="warehouseSettings" title="msg://dev.buhanzaz.wmspanel/menu.warehouseSettings.title" opened="true">
            <menu id="warehouseAccessSettings" title="msg://menu.warehouseAccessSettings.title">
                <item view="Warehouse.list" title="msg://dev.buhanzaz.wmspanel.view.warehouse/WarehouseListView.title"/>
                <item view="UserWarehouseAccess.list" title="msg://dev.buhanzaz.wmspanel.view.warehouseaccess/UserWarehouseAccessListView.title"/>
            </menu>
            <menu id="rentalDictionarySettings" title="msg://menu.rentalDictionarySettings.title">
                <item view="RentalCategory.list" title="msg://dev.buhanzaz.wmspanel.view.rentalcategory/RentalCategoryListView.title"/>
                <item view="RentalSubcategory.list" title="msg://dev.buhanzaz.wmspanel.view.rentalsubcategory/RentalSubcategoryListView.title"/>
                <item view="RentalType.list" title="msg://dev.buhanzaz.wmspanel.view.rentaltype/RentalTypeListView.title"/>
            </menu>
            <menu id="rentalAttributesSettings" title="msg://menu.rentalAttributesSettings.title">
                <item view="RentalAttributeDefinition.list" title="msg://dev.buhanzaz.wmspanel.view.rentalattributedefinition/RentalAttributeDefinitionListView.title"/>
                <item view="RentalAttributeOption.list" title="msg://dev.buhanzaz.wmspanel.view.rentalattributeoption/RentalAttributeOptionListView.title"/>
                <item view="RentalClassifierAttribute.list" title="msg://dev.buhanzaz.wmspanel.view.rentalclassifierattribute/RentalClassifierAttributeListView.title"/>
                <item view="RentalTag.list" title="msg://dev.buhanzaz.wmspanel.view.rentaltag/RentalTagListView.title"/>
            </menu>
            <menu id="stockSettings" title="msg://menu.stockSettings.title">
                <item view="AccessoryCategory.list" title="msg://dev.buhanzaz.wmspanel.view.accessorycategory/AccessoryCategoryListView.title"/>
                <item view="AccessorySubcategory.list" title="msg://dev.buhanzaz.wmspanel.view.accessorysubcategory/AccessorySubcategoryListView.title"/>
                <item view="AccessoryItem.list" title="msg://dev.buhanzaz.wmspanel.view.accessoryitem/AccessoryItemListView.title"/>
            </menu>
            <menu id="estimateCatalogSettings" title="msg://menu.estimateCatalogSettings.title">
                <item view="RepairEstimateCatalogCanvas.view" title="msg://dev.buhanzaz.wmspanel.view.repairestimatecatalogcanvas/RepairEstimateCatalogCanvasView.title"/>
                <item view="RepairEstimateCatalogWork.view" title="msg://dev.buhanzaz.wmspanel.view.repairestimatecatalogsection/RepairEstimateWorkCatalogView.title"/>
                <item view="RepairEstimateCatalogMaterial.view" title="msg://dev.buhanzaz.wmspanel.view.repairestimatecatalogsection/RepairEstimateMaterialCatalogView.title"/>
                <item view="RepairEstimateCatalogFurniture.view" title="msg://dev.buhanzaz.wmspanel.view.repairestimatecatalogsection/RepairEstimateFurnitureCatalogView.title"/>
            </menu>
            <menu id="queueSettings" title="msg://menu.queueSettings.title">
                <item view="WorkQueue.list" title="msg://dev.buhanzaz.wmspanel.view.workqueue/WorkQueueListView.title"/>
                <item view="QueueOrder.view" title="msg://dev.buhanzaz.wmspanel.view.queueorder/QueueOrderView.title"/>
                <item view="WorkerClass.list" title="msg://dev.buhanzaz.wmspanel.view.workerclass/WorkerClassListView.title"/>
                <item view="WorkerGroup.list" title="msg://dev.buhanzaz.wmspanel.view.workergroup/WorkerGroupListView.title"/>
                <item view="Worker.list" title="msg://dev.buhanzaz.wmspanel.view.worker/WorkerListView.title"/>
            </menu>
            <menu id="reservationSettings" title="msg://menu.reservationSettings.title">
                <item view="ReservationSearchSettings.view" title="msg://ReservationSearchSettingsView.title"/>
            </menu>
        </menu>
    </menu>

</menu-config>
